{
    "parser": "babel-eslint",
    "extends": [
      "standard",
      "standard-jsx",
      "standard-react"
    ],
    "rules": {
      "react/prop-types": "off",
      "space-before-function-paren": [
        "off",
        "always"
      ],
      "eol-last": ["error", "never"],
    }
}